.preload-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  .lds-ripple{
    position: relative;
  }
  .lds-ripple div {
    position: absolute;
    opacity: 1;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0, 0.2, 0.8, 1) ;
    animation-duration: 1s;
  }

  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
}


.preload-container_s {
  $s-size: 64px;
  .lds-ripple {
    width: $s-size;
    height: $s-size;
  }
  .lds-ripple div {
    border: $s-size/20 solid #ff5733;
    animation-name: lds-ripple_s;
  }
  @keyframes lds-ripple_s {
    0% {
      top: $s-size/2;
      left: $s-size/2;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: $s-size;
      height: $s-size;
      opacity: 0;
    }
  }
}

.preload-container_m {
  $s-size: 100px;
  .lds-ripple {
    width: $s-size;
    height: $s-size;
  }

  .lds-ripple div {
    border: $s-size/20 solid #ff5733;
    animation-name: lds-ripple_m
  }
  @keyframes lds-ripple_m {
    0% {
      top: $s-size/2;
      left: $s-size/2;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: $s-size;
      height: $s-size;
      opacity: 0;
    }
  }
}

.preload-container_l {
  $s-size: 200px;
  .lds-ripple {
    width: $s-size;
    height: $s-size;
  }

  .lds-ripple div {
    border: $s-size/20 solid #ff5733;
    animation-name: lds-ripple_l
  }
  @keyframes lds-ripple_l {
    0% {
      top: $s-size/2;
      left: $s-size/2;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: $s-size;
      height: $s-size;
      opacity: 0;
    }
  }
}




