$color-primary-main: #232531;
$color-primary-dark: #1b1d24;
$color-primary-light: #3f4046;
$color-secondary-main: #ff5733;
$color-secondary-dark: #c70039;
$gradient-main: linear-gradient(to right, $color-secondary-dark, $color-secondary-main 70%);