@import "../../../styles/constants";
.btn{
  padding: 8px 20px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  border: 2px solid $color-primary-light;
  transition: .3s all ease;
  background: transparent;
  cursor: pointer;
  font-weight: 400;
  color: $color-secondary-main;
  &:hover{
    color: #fff;
  }
  &.animated{
    padding: 15px 30px;
    color: #fff;
    font-size: 1em;
    border: none;
    background: $color-primary-light ;
    position: relative;
    z-index: 2;
    transition: all .3s ease;
    &:after{
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      height: 100%;
      z-index: -1;
      width: 0;

      background: $gradient-main;
      transition: all .3s ease;
    }
  }
  &.animated:hover{
    &:after{
      width: 100%;
    }
  }
}