@import "styles/constants.scss";

.form {
  max-width: 300px;
  margin: auto;
  p {
    color: inherit;
  }
}
.field-container{
  text-align: left;
  margin: 10px 0;
}
.field {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  outline: none;
  background: none;
  border: 1px solid $color-secondary-main;
  color: $color-secondary-main;
}
.field:focus{

}
